html,
body {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

.app {
  height: 100vh;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

svg {
  vertical-align: initial;
}

.radio-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.radio-caption div {
  margin-left: 10px; /* 调整为你需要的间距 */
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
